<div class="bg-main white">
  <div class="container">
    <header class="row-fluid header">
      <h1><a href="#">BearJS</a></h1>
    </header>

    <div class="body"></div>

    <footer class="row-fluid footer">
      <h3>BearJS - 2013</h3>
    </footer>
  </div>
</div>