<section class="mainlandingpageimagegallery">
  <div class="mainlandingpagetitle">
    <h3>The Best-of-the-best</h3>
  </div>

  <div class="mainlandingpagebuttons">
    <section class="row-fluid buttons">
      <div class="span1 pull-right">
        <img class="icon hear4u" src="/lib/assets/images/icon-options-hear4u.png"></img>
        <h4>Hear for you</h4>
      </div>
      <div class="span1 pull-right">
        <img class="icon" src="/lib/assets/images/icon-options-glossary.png"></img>
        <h4>Glossary</h4>
      </div>
    </section>
  </div>

  <div class="clearboth">
  </div>

  <section class="row-fluid main-menu bg-gray-80 reuse-gallery">
    <nav>
      <ul class="nav nav-pills">

        <li class="span2 relative">
          <a href="/gallery/personas-gallery" class="border-box rounded-box-link bg-lightblue">
            <div class="">
              <img src="/lib/assets/images/icon-options-1.png" class="icon">
              <h4>Personas</h4>
            </div>
            <div class="personas"></div>
          </a>
        </li>

        <li class="span2">
          <a href="/gallery/design-gallery" class="border-box rounded-box-link bg-lightyellow">
            <div class="">
              <img src="/lib/assets/images/icon-options-3.png" class="icon">
              <h4 class="break-word">Designed by Bearjs Images</h4>
            </div>
          </a>
        </li>

        <li class="span2">
          <a href="/gallery/misc-gallery" class="border-box rounded-box-link bg-lightgray">
            <div class="">
              <img src="/lib/assets/images/icon-options-4.png" class="icon">
              <h4 class="break-word">Micellaneous</h4>
            </div>
          </a>
        </li>

        <li class="span2">
          <div class="border-box rounded-box-big bg-lightgray box">
            <img src="/lib/assets/images/icon-options-pic.png" class="icon pull-right">
          </div>
        </li>

      </ul>
    </nav>
  </section>
</section>