<section class="row-fluid bearjs-fonts-bootstrap">

  <h1>H1 Heading - style: normal, weight: normal</h1>
  <h1 class="w-bold">H1 Heading - style: normal, weight: bold</h1>
  <h1 class="w-lighter">H1 Heading - style: normal, weight: lighter</h1>

  <h1 class="s-italic">H1 Heading - style: italic, weight: normal</h1>
  <h1 class="s-italic w-bold">H1 Heading - style: italic, weight: bold</h1>
  <h1 class="s-italic w-lighter">H1 Heading - style: italic, weight: lighter</h1>

  <hr>

  <h1>H1 Heading</h1>
  <h2>H2 Heading</h2>
  <h3>H3 Heading</h3>
  <h4>H4 Heading</h4>
  <h5>H5 Heading</h5>
  <h6>H6 Heading</h6>

  <hr>

  <p>Hey I'm a paragraph</p>
  <p class="s-italic">Hey I'm a paragraph</p>

  <hr>

  <ul>
    <li>Hey li item!!</li>
    <li>I'm another item!!!</li>
    <li><a href="#">Anchor inside a item!!</a></li>
  </ul>

  <ol>
    <li>Hey li item!!</li>
    <li>I'm another item!!!</li>
    <li><a href="#">Anchor inside a item!!</li>
  </ol>

  <hr>

</section>