<section class="row-fluid bg-grey mainlandingpage">
  <nav>
    <ul>
      <li class="span4 bg-images-gallery">
        <a href="/gallery/image-gallery">
          <div class="box">
            <div class="bottom">
              <h4>
                Designed <br>
                by Bearjs
              </h4>
              <h5 class="black">Images Gallery</h5>
            </div>
          </div>
        </a>
      </li>
      <li class="span4 bg-tracking-gallery">
        <a href="/gallery/tracking-gallery">
          <div class="box">
            <div class="bottom">
              <h4>
                Designed <br>
                by Bearjs
              </h4>
              <h5 class="black">Tracking Gallery</h5>
            </div>
          </div>
        </a>
      </li>
      <li class="span4 bg-workshop-gallery">
        <a href="/gallery/designthinking-gallery">
          <div class="box">
            <div class="bottom">
              <h4>
                Design <br>
                Thinking
              </h4>
              <h5 class="green">Workshop Gallery</h5>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</section>