<section class="reuse-gallery row-fluid bg-black">
  <section class="row-fluid">
    <div class="span4 go-back">
      <a href="#!main" class="arrow-main">&nbsp;</a>
      <h2>{{title}}</h2>
    </div>
    {{#each icons}}
    <div class="span1 pull-right">
      <span class="icon {{this}}">&nbsp;</span>
    </div>
    {{/each}}
  </section>
  <nav>
    <ul class="nav nav-pills">
    </ul>
  </nav>
</section>