<div class="container-fluid design-thinking">
  <header>
    <ul class="wide-menu">
      <li class="home active"><a href="#">Home</a></li>
      <li class="agenda"><a href="#">Agenda</a></li>
      <li class="framing"><a href="#">Framing</a></li>
      <li class="attendees"><a href="#">Attendees</a></li>
      <li class="info"><a href="#">Info</a></li>
      <li class="objectives"><a href="#">Objectives</a></li>
    </ul>
  </header>

  <section class="row-fluid">

    <article class="span4 text-block">
      <h4 class="white">Getting Ready For <span class="green">Design Thinking</span></h4>
      <p>This workspace will contain everything we need to prepare for, and participate in your design session.</p>
      <p>Please visit this site often. Or better yet, sign up for automatic alerts.</p>
      <p>If you have any comments, please reach out to any of the attendees. This site leverages our unified communications. Enjoy.</p>
    </article>

    <article class="span8 wheel">
      <span class="behind"></span>
      <div class="top">
        <div class="circle builds"><span></span></div>
        <div class="circle research"><span></span></div>
        <div class="circle roles"><span></span></div>
      </div>
      <div class="wide">
        <div class="circle prototypes"><span></span></div>
        <div class="circle personas"><span></span></div>
        <div class="circle maps"><span></span></div>
      </div>
      <div>
        <div class="circle workshops"><span></span></div>
        <div class="circle stories"><span></span></div>
      </div>
    </article>

  </section>
</div>